# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/

# Virtual environments
venv/
ENV/
env/
.venv/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Test
htmlcov/
.coverage
.tox/

# Others
*.sqlite3
*.db
*.bak
*.swp
*.swo
*.tmp
*.orig
*.old

# Ignore local settings
settings_local.py
